<div jwcid="@nova:mRenderComponentRegion">
    <div class="wrapper">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="actions-wrapper">
                    <div jwcid="@nova:mRenderPage" pageName="fast:model.actionsPage"/>
                </td>
                <td style="vertical-align:top;">
                    <div jwcid="@nova:mRenderPage" pageName="fast:model.paramsPage"/>
                    <!--
                    <div jwcid="@nova:mInfoTable" caption="Параметры списочного приказа">

                    </div>
                    -->
                    <br/>
                    <div jwcid="@nova:mSearchList" showRowNumbersColumn="true" caption="Параграфы списочного приказа" dataSource="fast:model.dataSource" displayColumnButton="true" settingsKey="fast:model.searchListSettingsKey" settingsOwner="ognl:businessComponent.userContext.principal.id.toString()"/>
                </td>
            </tr>
        </table>
    </div>
</div>