<div jwcid="@tandem:mRenderComponentRegion">
<div jwcid="@tandem:mSticker"><span jwcid="@tandem:mIf" condition="fast:model.addForm">Добавление</span><span jwcid="@tandem:mElse">Редактирование</span> проекта приказа «<div jwcid="@Insert" value="fast:model.extractType.title"/>»</div>
<div class="wrapper">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td style="vertical-align:top;">
          <div jwcid="@tandem:mRenderPage" pageName="fast:model.commonPage"/>
          
          <!-- TODO: Insert data here -->
          
          <div jwcid="@tandem:mRenderPage" pageName="fast:model.commentsPage"/>
        </td>
      </tr>
      <tr>
        <td>
        <table>
          <tr>
            <td><div jwcid="apply@tandem:mSubmit" name="save" listener="onClickApply" validate="true" type="action" id="submit_desktop">Сохранить</div></td>
            <td><div jwcid="cancel@tandem:mSubmit" name="cancel" listener="onClickDeactivate" type="cancel">Отменить</div></td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
</div>
</div>
