<?xml version="1.0" encoding="UTF-8"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <DataForDelete>
        <Applications>
#foreach($a in $apps)
            <Application>
                <ApplicationNumber>${a.number}</ApplicationNumber>
                <RegistrationDate>${a.date}</RegistrationDate>
            </Application>
#end
        </Applications>
    </DataForDelete>
    <AuthData>
        <Login>YOUR LOGIN</Login>
        <Pass>YOUR PASS</Pass>
    </AuthData>
</Root>