<span jwcid="@nova:mRenderComponentRegion">
<div jwcid="@tandem:mSticker"><div jwcid="@Insert" value="fast:businessComponent.title"/></div>

<table border="0">
    <tr>
        <td colspan="2">
            <div class="section">Данные параграфов списочного приказа</div>
            <div jwcid="type@nova:mTextField" class="double-width" value="fast:model.paragraphType.title" displayName="Тип параграфа" disabled="true"/>
            <div class="section">Параметры параграфов списочного приказа</div>
        </td>
    </tr>
<!--    <tr>
        <td>
             Дополнительные параметры параграфов
        </td>
    </tr> -->
    <tr>
        <td><div jwcid="course@nova:mSelect" source="fast:model.courseList" submitOnChange="ajax" updateOnChange="groupsList" value="fast:model.course" propertyId="id" propertyView="title" displayName="Курс" validators="validators:required"/></td>
    </tr>
</table>
<table border="0">
    <tr>
        <td><div jwcid="groupsList@nova:mSearchList" showRowNumbersColumn="true" caption="Группы, включаемые в списочный приказ" dataSource="fast:model.dataSource" settingsKey="fast:model.searchListSettingsKey"/></td>
    </tr>
</table>

<table><tr>
  <td><div jwcid="@nova:mSubmit" name="save" listener="onClickApply" validate="true" id="submit_desktop">Сохранить</div></td>
  <td><div jwcid="@nova:mSubmit" name="cancel" listener="onClickDeactivate">Отменить</div></td>
</tr></table>

</span>