.epv-table-cell {
	text-align: center; 
	background-color: white;
}

.form INPUT.date-picker-half-width {
	width: 80px;
}

table.epp-year-weeks-table {
	width: 100%;
	height: 100%;
    border-spacing: 1px;
    border-collapse: separate;
}

table.epp-year-weeks-table td {
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
}

table.epp-year-weeks-table td.term {
	background-color: #BFD2E4;
}

table.epp-year-weeks-table td.skip {
	background-color: #DFEAF5;
}

