td.seporator {
    padding:0 !important;
    margin:0 !important;
	width:1px !important;
	background-color:#AFC3D9;
}

td.rr-cell {  
  padding:0 !important;
  margin:0 !important;
  vertical-align:middle !important;
  text-align:center !important;
  width:20px;
  min-width:20px;
}

td.rr-edit {
  vertical-align:top !important;
  height:35px;
  min-height:35px;
}

td.rr-left {  
  border-left:solid 2px #456fa9 !important;
}

td.rr-right {  
  border-right:solid 2px #456fa9 !important;
}

td.rr-both {  
  border-left:solid 2px #456fa9 !important;
  border-right:solid 2px #456fa9 !important;
}

td.rr-active {
  background-color:#fff8d1 !important; /* overrider list-row td*/
  cursor:pointer;
}

td.rr-cell div.rr-l {
  border-left:solid 1px #456fa9 !important;
  display:block;
  margin-left:-6px;
  height:100%;
  width:5px;
  float:left;
}

td.rr-cell div.rr-r {
  border-right:solid 1px #456fa9 !important;
  display:block;
  margin-right:-6px;
  height:100%;
  width:5px;
  float:right;
}

td.rr-cell div.rr-m {
  display:inline;
  padding:0 !important;
  margin:0 !important;
  height:100%;
  vertical-align: middle !important;
}

td.rr-cell div.rr-l div.rr-t {
  padding:0 !important;
  margin:0 !important;
  background-image:url(/img/general/left_top.png);
  background-position:left top;
  background-repeat:no-repeat;
  height:50%;
}

td.rr-cell div.rr-l div.rr-b {
  padding:0 !important;
  margin:0 !important;
  background-image:url(/img/general/left_bottom.png);
  background-position:left bottom;
  background-repeat:no-repeat;
  height:50%;
}

td.rr-cell div.rr-r div.rr-t {
  padding:0 !important;
  margin:0 !important;
  background-image:url(/img/general/right_top.png);
  background-position:right top;
  background-repeat:no-repeat;
  height:50%;
}

td.rr-cell div.rr-r div.rr-b {
  padding:0 !important;
  margin:0 !important;
  background-image:url(/img/general/right_bottom.png);
  background-position:right bottom;
  background-repeat:no-repeat;
  height:50%;
}

td.rr-cell input {
  padding:0 !important;
  margin:0 !important;
  height:17px;
  width:20px;
  text-align:center !important;
  border:none;
  border-bottom:solid 1px #afc3d9 !important;
}









.rimg {                   /* Range Action Column Image */
  cursor:pointer;
}
.rrc {                    /* Range Read Row Cell*/
  padding:0 !important;
  margin:0 !important;
  vertical-align: middle !important;
  min-width:20px;
  width:20px;
  text-align: center;
  height:100%;
}
.rcc {                    /* Range Edit Row Clickable Cell*/
  padding:0 !important;
  margin:0 !important;
  vertical-align: top !important;
  min-width:20px;
  height:100%;
  background-color:#fff8d1 !important; /* overrider list-row td*/
  cursor:pointer;
}
.rrmd {                   /* Range Read Row Cell (Middle Div) */
  position:absolute;
  min-width:20px;
  line-height:20px;
  margin-top:-10px;
}
.rrlt {                   /* Range Read Row Cell (Left Top) */
  border-left:solid 1px #456fa9;
  background-image:url(/img/general/left_top.png);
  background-position: left top;
  background-repeat:no-repeat;
  height:50%;
  min-width:19px;
}
.rrlb {                   /* Range Read Row Cell (Left Bottom) */
  border-left:solid 1px #456fa9;
  background-image:url(/img/general/left_bottom.png);
  background-position: left bottom;
  background-repeat:no-repeat;
  height:50%;
  min-width:19px;
}
.rrrt {                   /* Range Read Row Cell (Right Top) */
  border-right:solid 1px #456fa9;
  background-image:url(/img/general/right_top.png);
  background-position: right top;
  height:50%;
  min-width:19px;
  background-repeat:no-repeat;
}
.rrrb {                   /* Range Read Row Cell (Right Bottom) */
  border-right:solid 1px #456fa9;
  background-image:url(/img/general/right_bottom.png);
  background-position: right bottom;
  height:50%;
  min-width:19px;
  background-repeat:no-repeat;
}
.relt {                   /* Range Edit Row Cell (Left Top) */
  background-image:url(/img/general/left_top.png);
  background-position: left top;
  background-repeat:no-repeat;
  height:19px;
  min-width:19px;
  margin-top:20px;
}
.relb {                   /* Range Edit Row Cell (Left Bottom) */
  border-left:solid 1px #456fa9;
  background-image:url(/img/general/left_bottom.png);
  background-position: left bottom;
  background-repeat:no-repeat;
  min-width:19px;
}
.rert {                   /* Range Edit Row Cell (Right Top) */
  background-image:url(/img/general/right_top.png);
  background-position: right top;
  background-repeat:no-repeat;
  height:19px;
  min-width:19px;
  margin-top:20px;
}
.rerb {                   /* Range Edit Row Cell (Right Bottom) */
  border-right:solid 1px #456fa9;
  background-image: url(/img/general/right_bottom.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  min-width:19px;
}
.rltf {                   /* Range Edit Row Left Cell (Text Field) */
  position:absolute;
  height:17px;
  line-height:17px;
  margin-left:-1px;
  width:20px;
  text-align:center;
  border:none;
  border-bottom:solid 1px #afc3d9;
}
.rrc-ie {
  vertical-align: top !important;
  padding-top: 5px !important;
}
.retf-ie {
    position:absolute;
    height:17px;
    line-height:17px;
    width:18px;
    text-align:center;
    border:none;
    border-bottom:solid 1px #afc3d9;
}
.rltf-ie {
    position:absolute;
    height:17px;
    line-height:17px;
    margin-left:-1px;
    width:18px;
    text-align:center;
    border:none;
    border-bottom:solid 1px #afc3d9;
}
.rrlt-ie {
    background-image:url(/img/general/left_top.png);
    background-position: left top;
    background-repeat:no-repeat;
    min-width:19px;
    height:5px;
}
.rrlb-ie {
    border-left:solid 1px #456fa9;
    background-image:url(/img/general/left_bottom.png);
    background-position: left bottom;
    background-repeat:no-repeat;
    vertical-align:top !important;
}
.rrrt-ie {
    background-image:url(/img/general/right_top.png);
    background-position: right top;
    background-repeat:no-repeat;
    min-width:19px;
    height:5px;
}
.rrrb-ie {
    border-right:solid 1px #456fa9;
    background-image:url(/img/general/right_bottom.png);
    background-position: right bottom;
    background-repeat:no-repeat;
    vertical-align:top !important;
}

