.usma-input-single {
    height:17px !important;
}

.usma-input-double {
    height:35px !important;
}

.usma-input-triple {
    height:53px !important;
}

.usma-input-six {
    height:107px !important;
}

.usma-pointer {
    cursor: pointer;
}

.usma-click-cell {
    background-color:#fff8d1 !important;
}

.usma-simple-td {
    height: 17px;
}

.usma-simple-table {
    border: 0; /* border="0" */
    border-collapse:collapse; /* cellspacing="0" */
}

/* Патчим матрицу чекбоксов - в одном из компонентов нам надо выровнять заголовки по центру */
#matrixProg .matrix-h-header {
    text-align: center;
    width: 30px;
}