<div jwcid="@tandem:mRenderComponentRegion">
<div jwcid="@commonbase:sticker"><span jwcid="@tandem:mIf" condition="fast:model.editForm">Редактирование</span><span jwcid="@tandem:mElse">Добавление</span> параграфа списочного приказа <div jwcid="@Insert" value="fast:model.paragraph.editableTitle"/></div>
<div class="wrapper">
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2">
            <div class="section">Данные параграфа списочного приказа</div>
            <div jwcid="type@tandem:mTextField" class="double-width" value="fast:model.paragraphType.title" displayName="Тип параграфа" disabled="true"/>
            <div class="section">Параметры параграфа списочного приказа</div>
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><div jwcid="studentList@tandem:mSearchList" showRowNumbersColumn="true" caption="Студенты, включаемые в параграф списочного приказа" dataSource="fast:model.dataSource" settingsKey="fast:model.searchListSettingsKey"/></td>
    </tr>
</table>

<table><tr>
  <td><div jwcid="@tandem:mSubmit" name="save" listener="onClickApply" validate="true" id="submit_desktop">Сохранить</div></td>
  <td><div jwcid="@tandem:mSubmit" name="cancel" listener="onClickDeactivate">Отменить</div></td>
</tr></table>

</div>
</div>
